.home-container {
  padding: 1em;
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
}
.courses-list-container {
  width: min(900px, 100%);
  margin: 0 auto;
}
.courses-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  align-items: center;
  gap: 1em;
}
.course-item {
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  transition: 0.24s ease-in-out;
  align-self: stretch;
  display: grid;
}
.course-item li {
  display: flex;
  gap: 1em;
  align-items: center;
}
.course-item:hover {
  transform: scale(1.05);
}
